<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <base href='/'>
    <title>DroneFabio</title>
</head>
<body>
  <div ng-controller='MyCtrl1'>
    <p> This is the partial for view 1.</p>
    <p> The current time is </p>  {{time}}
  </div>     
</body>
</html>