<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel='stylesheet' href='/css/app.css' media="screen"/>
    
    <!-- Carregando o CSS do Bootstrap -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen" />   
    <!-- jQuery (plugins em JavaScript) -->
    <script type="text/javascript" src="jquery/dist/jquery.js"></script>
    <!-- componentes JavaScript do bootstrap -->  
    <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>

    <script src='/socket.io/socket.io.js'></script>
  
    <script src='angular/angular.js'></script>
    <script src='angular-route/angular-route.js'></script>
    <script src='angular-socket-io/socket.js'></script>

    
    <script src='js/app.js'></script>
    <script src='js/services.js'></script>
    <script src='js/protocoloservices.js'></script>
    <script src='js/controllers.js'></script>
    <script src='js/filters.js'></script>
    <script src='js/directives.js'></script>
    
    <title>DroneFabio</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-inverse">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <li class="active">


                </li>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
      <ul class="nav nav-pills" active-link>
        <li href="#principal" data-toggle="tab" role="presentation" class="nav active"><a>Principal</a></li>
        <li href="#navegacao" data-toggle="tab" role="presentation" class="nav"><a>Navegação</a></li>      
      </ul>      
      <div class="tab-content">
        <div class="tab-pane active" id="principal">
          <div class="row">
            <div data-ng-controller="GpsCtrl as GpsCtrl" class="col-md-4">
              <div class="panel panel-default">
                  <table class="table">
                      <tr>
                          <td class="tdTitle">Altitude</td>
                          <td>{{GpsCtrl.getAltitude()}}</td>
                      </tr>
                      <tr>
                          <td class="tdTitle">GPS # Sats</td>
                          <td>{{GpsCtrl.getGpsSatelites()}}</td>
                      </tr>
                  </table>
              </div>
            </div> 
            
            <div class="col-md-4">
                <div class="panel panel-default">
                    <ul>
                        <li id="angxVal"></li>
                        <li id="angyVal">Y</li>
                        <li id="hdgVal">Z</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
              <table class="table">
                <tr>
                  <td class="tdTitle">Pitch</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-  valuemax="100" style="width: 50%;"><span id="pitchVal"></span>
                      </div>
                    </div>
                  </td>
                </tr>
                </tr>
                <tr>
                  <td class="tdTitle">Roll</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"><span id="rollVal"></span>
                      </div>
                    </div>        
                  </td>
                </tr>
                <tr>
                  <td class="tdTitle">Throller</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"><span id="pitchVal"></span>
                      </div>
                    </div>   
                  </td>
                </tr>
                <tr>
                  <td class="tdTitle">Yaw</td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"><span id="yawVal"></span>
                      </div>
                    </div>                    
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

     


        <div class="tab-pane" id="navegacao">
          <div data-ng-controller='MyCtrl as MyCtrl' class="col-md-4">
            <p> Aqui vai ser o map GoogleMaps</p>
            <p> Teste: Hora certa </p>  {{MyCtrl.time()}}
            <button ng-click="MyCtrl.serialPort()" type="button" class="btn btn-default">SerialPort</button>
          </div> 
        </div>
      </div>
    </div>    
</body>
</html>