<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel='stylesheet' href='/css/app.css' media="screen"/>
    <base href='/'>
    <title>DroneFabio</title>
</head>
<body>
   <div data-ng-controller='MyCtrl as Ctrl'>
      <p> This is the partial for view 1.</p>
      <p> The current time is </p>  {{Ctrl.time}}
   </div> 

   <div data-ng-controller="GpsCtrl as GpsCtrl">
     <p> Satelites </p> 
     <td> {{GpsCtrl.getGpsSatelites()}} </td>
     <td> {{GpsCtrl.getAltitude()}} </td>
   </div> 
    
  <script src='/socket.io/socket.io.js'></script>
  <script src='angular/angular.js'></script>
  <script src='angular-route/angular-route.js'></script>
  <script src='angular-socket-io/socket.js'></script>
  <script src='js/app.js'></script>
  <script src='js/services.js'></script>
  <script src='js/protocoloservices.js'></script>
  <script src='js/controllers.js'></script>
  <script src='js/filters.js'></script>
  <script src='js/directives.js'></script>
</body>
</html>