<body>
<link rel="stylesheet" href="public/css/navegacao.css"/>	

<div class="container-fluid">
<div class="row" ng-controller="GpsCtrl as GpsCtrl">
	
		<div>     
		  <div class="col-xs-12 col-sm-6 col-md-8">
     
      		<map center="[{{GpsCtrl.getGpsLat()}}, {{GpsCtrl.getGpsLon()}}]" zoom="17" style="height:450px;" on-click="GpsCtrl.addMarkerAndPath()">

            <marker position="[{{GpsCtrl.getGpsLat()}}, {{GpsCtrl.getGpsLon()}}]" 
                    icon="{{GpsCtrl.icon()}}">
            </marker>

            
            
      		</map>
          
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
    	<div class="row">        

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Nº</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Alt.</th>
                <th>Heading</th>
                <th>Tempo</th>
              </tr>
            </thead>
            <tbody ng-repeat="waypoint in points">
              <tr>
                <td>1</td>                
                <td>{{waypoint.lat.toFixed(5)}}</td>                
                <td>{{waypoint.lon.toFixed(5)}}</td>                
                <td>{{waypoint.AltHold}}</td>                
                <td>{{waypoint.heading}}</td>                
                <td>{{waypoint.time_to_stay}}</td>                
              </tr>              
            </tbody>  
          </table>  

            
          <li>GPS Status: {{GpsCtrl.getGpsFix()}}</li>      
        
        	<li>GPS Stélites: {{GpsCtrl.getGpsSatelites()}}</li>			
    		
    		
    			<li>Latitude: {{GpsCtrl.getGpsLatitude()}}</li>			
    		
    		
    			<li>Longitude: {{GpsCtrl.getGpsLongitude()}}</li>			
    		
    		
    			<li>Altitude GPS: {{GpsCtrl.getAltitude()}}</li>			
    		
    		
    			<li>Velocidade: {{GpsCtrl.getGpsVelocidade()}}</li>			

          <li>Terra: {{GpsCtrl.getGpsGroundCourse()}}</li>   

          <div id="panel">
            <input ng-click="GpsCtrl.removeLine()" type="button" value="Baixar Missão">
            <input ng-click="GpsCtrl.removeLine()" type="button" value="Gravar Missão">
            <input ng-click="GpsCtrl.removeLine()" type="button" value="Iniciar">
            <input ng-click="GpsCtrl.removeLine()" type="button" value="Abortar Missão">
          </div>      
          

    	</div>    	   
    </div>
</div>

</div>
</body>